<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control">

           
            <span *ngIf="!userForm.get('userData.username').valid && userForm.get('userData.username').touched">
              <span *ngIf="userForm.get('userData.username').errors['invalid']">Forbidden User</span>
              <span *ngIf="userForm.get('userData.username').errors['required']">Invalid User</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text" id="email" formControlName="email" class="form-control">
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }}

          </label>
        </div>

        <br>
        <div formArrayName="hobbies">
          <h4>Your hobbies:</h4>
          <button type="button" class="btn btn-primary" (click)="addHobies()">Add Hobies</button>
          <div class="form-group" *ngFor="let hobyControl of getControls();let i=index">
            <input type="text" class="form-group" [formControlName]="i">
          </div>
        </div>

        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
        <br>
        <span *ngIf="!userForm.valid && userForm.touched">Input valid form</span>
      </form>

    </div>
  </div>
</div>